.Lobby {
	display: flex;
	flex-direction: column;
	padding: 20px;
	width: 90%;
	max-width: 300px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: rgba(255, 255, 255, 0.34) solid 1px;
	border-radius: 5px;
}
