.Station {
	position: absolute;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	padding: 0;
	color: white;
	background-color: rgba(0, 0, 0, 0.64);
	/*border: 1px inset;*/
	border: none;
	user-select: none;
	margin: 0;
	transform: translate(-50%, -50%);
	background-size: cover;
}

.StationBus {
	/*-webkit-box-shadow: -3px -3px 3px #4EFF48;*/
}

.StationTrain {
	/*-webkit-box-shadow: 2px 2px 3px #FF02A7*/
}

.StationBusTrain {
	/*-webkit-box-shadow: 2px 2px 3px #FF02A7, -3px -3px 3px #4EFF48;*/
}

.Station:hover:enabled {
	background-color: rgba(33, 33, 33, 0.64);
}

.Station:focus {
	outline: none;
}

.Station:active {
	transform: translate(-50%, -50%) scale(0.97);
}

.Board {
	position: absolute;
	width:  1280px; /*70vw;*/
	height:  950px; /*50vw;*/
}

.BoardBackground {
	position: absolute;
	width: 100%;
	height: 100%;
}

.Fig {
	position: absolute;
}
